$color-black : #000000;
$color-white : #ffffff;
$color-gray: #31352e;
$color-light-gray : #eaeaea;
$color-primary : #b46328;
$color-primary-light: #d59f7d;
$color-primary-dark : #826a55;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0px 0px 10px $color-gray;
  border-radius: 5px;
}

.header {
  margin: 20px 0;

  .logo {
    img {
      margin: 0 auto;
      display: block;
      width: 128px;
    }
    h1 {
      text-align: center;
    }
  }

  .menu {
    margin:0px auto;
    padding:0px;
    list-style-type:none;
    width: fit-content;

    li {
      display: inline-block;

      a {
        color: gray;
        display: block;
        width: 110px;
        text-align: center;
        padding: 5px 10px;
        margin: 0px 5px;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
        
        i {
          margin-right: 5px;
        }

        &:hover {
          text-decoration: none;
          background-size: 10px 1px;
        }
      }

      .active {
        color: $color-primary;
        font-weight: bold;
      }
    }
  }
}


.content {

}


.footer {
  margin: 10px 0 0 0;
  text-align: center;
  font-size: small;
}